{% extends 'base.html.twig' %}

{% block title %}Concours{% endblock %}

{% block body %}
    <h1>Concours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ concour.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ concour.nom }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ concour.code }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ concour.debut ? concour.debut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ concour.fin ? concour.fin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ concour.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_concours_index') }}">back to list</a>

    <a href="{{ path('app_backend_concours_edit', {'id': concour.id}) }}">edit</a>

    {{ include('backend_concours/_delete_form.html.twig') }}
{% endblock %}
